!!!
%html
  %head
    %title JobsBoardApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    = link_to "All", root_path

    - Category.all.each do |category|
      = link_to category.name, jobs_path(category: category.name)

    = yield
